.registration,
.inputBlock,
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.registration {
	margin-top: 140px;
	padding-bottom: 100px;
}

.form,
.inputBlock {
	width: 100%;
}

.title {
	text-align: center;
}

.inputBlock {
	padding-top: 50px;
	gap: 30px;

	&:last-of-type {
		padding-bottom: 13px;
	}
}

.img {
	margin-top: 50px;
}

.radioBlock {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	gap: 7px;
	width: 100%;
	max-width: 380px;
}

.radioInputsTitle {
	margin-bottom: 11px;
}
