header {
	position: fixed;
	width: 100%;
	background: $white-100;
	padding: 13px 0;
	z-index: 5;
}

.block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul {
	display: flex;
	gap: 10px;
}
