header {
	position: fixed;
	width: 100%;
	background: $white-100;
	padding: 13px 0;
}

.block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;

	@include breakpoints-max-width(lg) {
		padding: 0 60px;
	}

	@include breakpoints-max-width(md) {
		padding: 0 32px;
	}

	@include breakpoints-max-width(sm) {
		padding: 0 16px;
	}
}

ul {
	display: flex;
	gap: 10px;
}
