// variables for colors

$yellow-200: #ffe302; // hover
$yellow-300: #f4e041; // primary
$blue-300: #00bdd3; // secondary
$gray-100: #f8f8f8; // background
$gray-200: #b4b4b4; // disabled
$gray-400: #7e7e7e;
$black-900: rgba(0, 0, 0, 0.87);
$black-500: rgba(0, 0, 0, 0.5);
$white-100: #ffffff;

//variables for fonts

$font-size-title: 40px;
$font-size-text: 16px;
$font-size-small: 12px;

$font-line-height-title: 40px;
$font-line-height-text: 26px;

$font-family: "Nunito";

$weight-normal: 400;
