// variables for colors

$yellow-200: #ffe302; // hover
$yellow-300: #F4E041; // primary
$blue-300: #00BDD3; // secondary
$gray-100: #F8F8F8; // background
$gray-200: #b4b4b4; // disabled
$gray-400: #7e7e7e;
$black-900: rgba(0, 0, 0, 0.87);
$white-100: #ffffff;

//variables for fonts

$font-size-title: 40px;
$font-size-text: 16px;
$font-size-small: 12px;

$font-line-height-title: 40;
$font-line-height-text: 26;

$font-family: "Nunito", sans-serif;

$weight-normal: 400;