@font-face {
	font-display: swap;
	font-family: $font-family;
	font-weight: $weight-normal;
	src:
		url("../../assets/fonts/nunito-v31-latin-regular.woff2") format("woff2"),
		url("../../assets/fonts/nunito-v31-latin-regular.woff") format("woff");
}
